<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597328065145-hkark3vbrbq857nbuqb495ekd019cknj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597328065145-hkark3vbrbq857nbuqb495ekd019cknj</string>
	<key>API_KEY</key>
	<string>AIzaSyDSKsvsLJeYl7osv6-ELvd62lAm9WfSkSY</string>
	<key>GCM_SENDER_ID</key>
	<string>597328065145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.relaytrust.thewell</string>
	<key>PROJECT_ID</key>
	<string>the-well-d1a2a</string>
	<key>STORAGE_BUCKET</key>
	<string>the-well-d1a2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597328065145:ios:c85e74e044892a3d07daa8</string>
</dict>
</plist>