<form #messageForm>
  <ion-grid>
    <ion-row>
      <ion-col [attr.col-lg-9]="!message ? '' : null" [attr.col-lg-10]="message ? '' : null" [attr.col-md-8]="!message ? '' : null" [attr.col-md-10]="message ? '' : null" [attr.col-sm-6]="!message ? '' : null" [attr.col-sm-9]="message ? '' : null" [attr.col-6]="!message ? '' : null" [attr.col-9]="message ? '' : null" class="message-input">
        <textarea class="core-send-message-input" [core-auto-focus]="showKeyboard" [placeholder]="placeholder" rows="1" core-auto-rows [(ngModel)]="message" name="message" (onResize)="textareaResized()" (keydown.enter)="enterClicked($event)" (keydown.control.enter)="enterClicked($event, 'control')" (keydown.meta.enter)="enterClicked($event, 'meta')" aria-multiline="true"></textarea>
      </ion-col>
      <ion-col [attr.col-lg-3]="!message ? '' : null" [attr.col-lg-2]="message ? '' : null" [attr.col-md-4]="!message ? '' : null" [attr.col-md-2]="message ? '' : null" [attr.col-sm-6]="!message ? '' : null" [attr.col-sm-3]="message ? '' : null" [attr.col-6]="!message ? '' : null" [attr.col-3]="message ? '' : null" end>
        <ion-grid>
          <ion-row>
            <ion-col text-right [hidden]="message">
              <button ion-button icon-only clear="true" [core-suppress-events] (onClick)="pickPhoto($event)">
                  <ion-icon ios="ios-camera-outline" md="ios-camera-outline" color="dark"></ion-icon>
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button icon-only clear="true" type="submit" [disabled]="!message || sendDisabled" [attr.aria-label]="'core.send' | translate" [core-suppress-events] (onClick)="submitForm($event)">
                  <ion-icon name="send" color="dark"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
